head {
    font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 100%;
      width: 700px;
      color: white;
  text-align: center; }

  
  /* the styles for the footer */
  footer { margin-top: 1em; }
  footer p {
    font-size: 80%;
    text-align: right; }
