div {
  background-color: #ffffff;
  font-family: Hatton bold, serif;
  font-weight: bold;
      color: rgb(0, 0, 0); }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #740d0d00;
}

.background {
  background-image: url"C:\Users\Simis\.vscode\images\Green Modern Minimalist Parfume YouTube Video Ad.gif";
  background-position: center;
  background-size: fit;
  overflow: hidden;
}
#selector {
  width:95%;
  height:450px;
}
.images{
  background:url('C:\Users\Simis\.vscode\images\perfume YouTube Video Ad.gif') repeat-y 100% 100% fixed;
  height:100%;
  width:100%;
}

#selector {
  width:95%;
  height:450px;
}


.flex-container > div {
  background-color: #ffffff;
  width: 1200px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

div.gallery {
  margin: 30px;
  border: 0px solid #ccc;
  float: left;
  width: 350px;
}

div.gallery:hover {
  border: 1px solid #ffffff;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
div.gallery:hover {
  border: 1px solid #777;
}

div.border {
  border: 5px solid #740d0d42;
  text-align: center;
  float: left;
  width: 1243px;
}

div.footer {
  border: 5px solid #740D0D;
  float: left;
  width: 1243px;
}

  /*
  div.content {
  border: 0px solid #740D0D;
  width: 1243px;
  height: 200px;
}
p { 
  background-color: #f1f1f1;
 padding: 30px;
 text-align: center;
 font-size: 35px;}
 p { 
  background-color: #f1f1f1;
 padding: 30px;
 text-align: center;
 font-size: 35px;}
 p { 
  background-color: #f1f1f1;
 padding: 30px;
 text-align: center;
 font-size: 35px;}*\
